.error {
    color: brown;
}

h1 {
    margin-top: 1.0cm;
    margin-bottom: 1.0cm;
}

.ajustButtonProd {
    margin: 0.5cm;
}

.ajustButtonsEnd {
    margin-top: 0.5px;
}

.marginEnd {
    margin: 1.5cm;
}